{% extends 'base.html' %}

{% block title %}Category List View{% endblock %}
{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of recepts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_variable %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        Made by Sean O'Hara
    </footer>
{% endblock %}
